.social-links

    >.svg-inline--fa {
        display: var(--fa-display,inline-block)
        height: 2em
        overflow: visible
        vertical-align: -0.125em
}


    > .link
        margin: 0
        text-decoration: none
        position: relative
        display: inline-block
        height: 45px
        width: 45px
        color: $zeta

        &:hover
            > svg
                color: $delta

    > svg
        transition: all ease-in-out .2s
        
